{% extends 'base.html.twig' %}

{% block title %}Inicio - Symfony 6 Login{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header">
                    <h1 class="text-center">¡Bienvenido a mi pagina web!</h1>
                </div>
                <div class="card-body">
                    <p class="lead">¡Hola!</p>
                    <p>Esta es una prueba:</p>
                    <ul>
                        <li>Tu controlador está ubicado en <code>C:/Users/Jorge/Desktop/proyecto/src/Controller/HomeController.php</code></li>
                        <li>Tu plantilla está ubicada en <code>C:/Users/Jorge/Desktop/proyecto/templates/home/index.html.twig</code></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
